<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://activ365-cs-sync.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e91fa0cc-d4ac-4f60-a7a6-43a5622d2745/resourceGroups/ACTIV365-CS/providers/Microsoft.Web/sites/ACTIV365-CS-SYNC</ResourceId>
    <UserName>$ACTIV365-CS-SYNC</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://activ365-cs-sync.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>